
// Colors
$primary-color: #00113c;
$secondary-color: #07287a;

$tertiary-color: #E86060;
$background-color: #f1f1f1;
$text-color: #333;
$gray-color: #999;
$light-gray-color: #eee;
$black-color: #000;

// Spacing
$base-spacing: 1rem;
$small-spacing: 0.5rem;
$large-spacing: 2rem;

// Border radius
$border-radius: 5px;
$input-border-radius: 50rem;

// Font sizes
$font-size-base: 1rem;
$font-size-medium: 1.3rem;
$font-size-large: 2rem;
$font-size-small: .8rem;
$font-size-xlarge:2.5rem;

// Font weights

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// font family

$font-family-base: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-heading: 'Poppins', sans-serif;

// Transition durations
$transition-speed: 0.3s;

@media (prefers-color-scheme: light) {
  //light mode
}