@use 'variables' as *;

.home {
  padding: 2rem;
  padding-block: 6rem;
  width: clamp(250px, 100%, 1025px);
  margin: auto;

  .artist__infocard {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;

    .infocard_background{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
      object-position: top;
    }

    .play__infocard__container {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0;
      left: 0;
      padding-block: 3rem;
      align-items: end;

      .play__infocard {
        bottom: 20px;
        right: 50%;
        margin:0 auto;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-image: url("img/disc.png");
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 

        &:hover {
          animation: rotateLines 1.5s ;
      
        }

        .infocard__img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          border-radius: 50%;
        }

        .disc__circle {
          position: absolute;
          width: 5px; 
          height: 5px;
          background-color: rgba(255, 255, 255, 1);
          border-radius: 50%;
          z-index: 10;
          transition: background-color 0.3s ease;
      
      
        }

        @keyframes rotateLines {
          0% {
            transform: rotate(0deg);
          }
          20%{
            transform: rotate(-50deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
    // artist details
    .infocard__info {
      position: absolute;
      color: $background-color;
      top: 0;
      padding: 0 1rem;
      text-align: center;
      text-wrap: pretty;
      display: flex;
      flex-direction: column;
      width: 100%;
      h2{
        font-size: $font-size-large;
        margin-bottom: 0;
      }

      p {
        font-size: 1.2rem;
        margin-top: 10px;
      }
    }
  }


  .error-message {
    color: red;
    margin-top: 20px;
    font-size: 1rem;
  }

  // music container empty
  .no-tracks {
    text-align: center;
    font-size: 1.2rem;
  }
}
