
@use 'variables' as *;

* {
  box-sizing: border-box;
  font-family: $font-family-base;  
}

a {
  font-weight: 500;
  color: $primary-color;  
  text-decoration: inherit;
}

a:hover {
  color: $secondary-color;  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: $background-color;  
} 

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.offscreen{
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
#root{
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media (min-width:1300px) {
    padding-left: 270px;
  }

  div{
    max-width: 100vw;
  }
}

.required_symbol{
  color: $secondary-color;
  font-weight: bold;
  cursor: pointer;
}
.search-results{
  width: clamp(250px, 100%, 1025px);
  padding-block: 5rem 8rem;
}
.favorites{
  padding: 1rem;
  padding-block: 5rem 8rem;
  width: clamp(250px, 100%, 1025px);
}

// buttons
.button__login, .button__register, .button__logout, .button__file {
  padding: 0.6rem 1rem;
  background-color: $secondary-color;
  color: $background-color;
  border: 1px solid $black-color;
  border-radius: .3rem;
  font-size: $font-size-small;
  outline: 2px solid transparent;
  width: fit-content;
  margin: auto;

  cursor: pointer;
  transition: outline-color .2s ease;
  
  &:hover {
    outline: 2px solid $background-color;
    border-color: transparent ;
  }
}
