@use 'variables' as *;

.player {
  background-color: #ff5a5f;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding:.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .player__container {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: $black-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotateDisc 3s linear infinite;
    animation-play-state: paused;
    
    .track__img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    .disc__circle {
      position: absolute;
      width: 13px;  
      height: 13px;
      background-color: $black-color;;
      border-radius: 50%;
    }

    
  }
  .player__container.play{
    animation-play-state: running;
  }
  @keyframes rotateDisc {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .track-info {
    display: flex;
    position: relative;
    
    .player__info{
      display: flex;
      padding:0 .2rem 0 3.7rem;
      flex-direction: column;
      font-size: $font-size-base;
      .artist {
        font-size: $font-size-small;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;

    button {
      background-color: #ff8183;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 50%;
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      user-select: none;
      outline: none;
      img{
        width: 20px;
        height: 20px;
        margin: auto;
        user-select: none;
        outline: none;
      }
    }

    .volume-slider {
      margin-left: 1rem;
      width: 70px;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      height: 5px;
      background-color: $background-color;
      border-radius: 5px;
      outline: none;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: $text-color;
        border-radius: 50%;
      }

      &::-moz-range-thumb {
        width: 15px;
        height: 15px;
        background-color: $black-color;
        border-radius: 50%;
      }
    }
  }
}
