@use 'variables' as *;

.results {
  margin-top: 2rem;
  &__title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: $primary-color;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: .5rem;
    max-width: 1025px;
    
    @media (min-width: 575px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 1rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    cursor: pointer;
    text-wrap: pretty;
    position: relative;
    &.hidden {
      display: none;
    }
    &:hover {
      transform: scale(1.1);
    }

    &-img {
      width: 100%;
      object-fit: cover;
    }

    &-title {
      font-size: $font-size-base;
      font-weight: bold;
      color: $text-color;
    }

    &-artist {
      font-size: $font-size-small;
    }
  }
  .results__menu {
    position: absolute;
    color: $background-color;
    right: 5px;
    user-select: none;
    span {
      cursor: pointer;
      font-size: $font-size-large;
      text-shadow: 1px 1px 5px $black-color;
    }
  
    &-options {
      position: absolute;
      top: 50px;
      right: 10px;
      background: $background-color;
      gap: 1px;
      display: flex;
      flex-direction: column;
      width: 140px;
      z-index: 10;
      overflow: hidden;
  
      button {
        display: block;
        cursor: pointer;
        text-align: left;
        padding: 12px 15px;
        border: none;
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        &:hover{
          background: $tertiary-color;
          color: $background-color;
        }
      }
    }
  }
  .favorites__empty{
    margin-top: 20px;
    text-align: center;
    color: $text-color;
    font-size: $font-size-medium;
    width: 100%;
    .to_home{
      display: flex;
      margin-top: 30px;
      text-align: center;
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      transition: color .2s ease-in-out;
      &:hover{
        color: $tertiary-color;
      }
      
    }
  }
}
